@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap");

.elem {
	border: 10px dashed white;
	color: white;
	font-family: "Jacquard 12", system-ui;
    user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: min(45vw, 45vh);
	overflow: hidden;
}
